<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="kopo.poly.persistance.mapper.IOcrMapper">
    <!-- 저장 -->
    <insert id="insertOcr" parameterType="OcrDTO">
        INSERT INTO OCR
        (SEQ, FILE_NAME, FILE_PATH, ORG_FILE_NAME, EXT, OCR_TEXT, REG_ID, CHG_ID, FILE_SIZE)
        VALUES
            ((SELECT NVL(MAX(A.SEQ),0)+1 FROM OCR A),
             #{fileName}, #{filePath}, #{orgFileName}, #{ext}, #{ocrText}, #{id}, #{id}, #{fileSize})
    </insert>

    <!-- 리스트 가져오기 -->
    <select id="getOcrList" resultType="OcrDTO">
        SELECT * FROM OCR
    </select>

    <!-- OCR 상세보기 -->
    <select id="getOcrInfo" resultType="OcrDTO" parameterType="OcrDTO">
        SELECT * FROM OCR
        WHERE SEQ = #{seq}
    </select>
</mapper>